@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .acm-button {
        @apply 
            bg-[#0075FF] border-[1px] border-[#0075FF] 
            rounded-[10px] 
            px-[26px] py-[8px]
            text-white text-[20px]
            outline-none font-[600]
            hover:cursor-pointer
            hover:bg-white
            hover:text-[#0075FF]
            transition duration-500;
    }
}